/**
 * this is Lab3 web application which includes bower and google font include lesson 
 * @Author Md Mamunur Rahman
 * @Version 0.0.3 Added all decoration
 * @Last Update 06-june-2016
 */
/* custom css goes here */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body{

    font-family: 'Open Sans', sans-serif;
}

.firstSentence {
    color: darkblue;
    font-weight: bold;
    font-size: 1.2em;
}